modules = ["go"]

[nix]
channel = "stable-24_05"
packages = ["jq", "bc", "vim"]

[workflows]
runButton = "Multi-Algorithm Server"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "LSCC Blockchain Server"

[[workflows.workflow]]
name = "LSCC Blockchain Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go mod tidy && go run main.go"
waitForPort = 5000

[[workflows.workflow]]
name = "LSCC Fixed Server"
author = 23984923
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go mod tidy"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go run main.go"

[[workflows.workflow]]
name = "Multi-Algorithm Server"
author = 23984923
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go mod tidy"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x start-multi-algorithm-servers.sh"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./start-multi-algorithm-servers.sh"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 5002
externalPort = 3003

[[ports]]
localPort = 5003
externalPort = 3002

[[ports]]
localPort = 5004
externalPort = 3001

[[ports]]
localPort = 8000
externalPort = 80

[agent]
expertMode = true
